.contenedor-contact {
  font-family: 'Open Sans';
  width: 100%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  margin: auto;
}

.fill-contact {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.info-contact {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-contact span {
  font-size: 40pt;
  font-weight: bold;
  position: relative;
  font-family: "Open Sans";
  cursor: pointer;
  transition: all 300ms ease-in-out;
  display: inline-block;
  color: aquamarine;
}
.info-contact span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(10px);
}
.info-contact span::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 40%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}
.info-contact span:hover {
  filter: contrast(250%);
  content: var(--l);
  transition: ease-in-out;
  transform: scale(1.3);
}

.scene {
  width: 200px;
  height: 200px;
  margin: 10px;
  perspective: 400px;
  display: flex;
}

.cube {
  width: 200px;
  height: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-100px);
  transition: transform 1s;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  /* border: 2px solid black; */
  line-height: 200px;
  font-size: 25px;
  font-weight: bold;
  /* color: white; */
  text-align: center;
}

.cube__face a {
  text-decoration: none;
  color: aquamarine;
}

.cube__face--front  { background: aquamarine; color: red;}
.cube__face--top    { background: red; }

.cube__face--front  { transform: rotateY(  0deg) translateZ(100px); }
.cube__face--top    { transform: rotateX( 90deg) translateZ(100px); }

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }