
.container-general {
  font-family: 'Open Sans';
  width: 100%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
  margin: auto;
  z-index: 2;
}

.contenedor {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container span {
  font-size: 60pt;
  font-weight: bold;
  position: relative;
  font-family: "Open Sans";
  cursor: pointer;
  transition: all 300ms ease-in-out;
  display: inline-block;
  color: aquamarine;
}
.container span::before {
  content: var(--l);
  position: absolute;
  transform: scale(1.1);
  filter: blur(10px);
}
.container span::after {
  content: var(--l);
  position: absolute;
  height: 200%;
  width: 300px;
  top: 40%;
  left: 0;
  filter: blur(30px);
  transform: rotateX(50deg);
}
.container span:hover {
  filter: contrast(250%);
  content: var(--l);
  transition: ease-in-out;
  transform: scale(1.3);
}
.container span:nth-child(11) {
  color: red;
}

.container p {
  font-size: 2em;
  margin-top: 20px;
  font-weight: bold;
  font-family: sans-serif;
  color: rgb(114, 114, 114);
}